body {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url('images/menu_background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    margin: 0px;
    font-family: Arial;
}

#small_logo {
    margin-top: 25px;
    margin-left: 35px;
}

h1 {
    background-color: #dd7835;
    display: inline;
    padding: 8px 35px;
}

.menu_title {
    margin-top: 45px;
    margin-bottom: 50px;
}

.menu_list {
    margin-left: 35px;
}

.menu_list_item {
    margin: 35px 0px;
}

.menu_list_title {
    font-weight: bold;
    font-size: 20px;
    width: 300px;
    display: inline-block;
}

.menu_list_price {
    font-size: 20px;
    color: #dd7835;
    margin-left: 10px;
    display: inline-block;
    width: 70px;
    text-align: right;
}

.menu_list_ingredients {
    font-size: 14px;
    color: #c8c8c8;
    margin-top: 10px;
    display: block;
    width: 300px;
}

.menu_badge {
    display: inline-block;
    background-color: #dd7835;
    color: black;
    font-size: 9px;
    padding: 3px 8px;
    margin-top: 4px;
    border-radius: 8px;
    font-weight: bold;
}